<h1>Bandas de Rock</h1>
<label>
  <input type="text" [(ngModel)]="rockbandName" (keydown.enter)="addRockBand()">
</label>
<button (click)="addRockBand()" style="color: blue; border: none; cursor: pointer; font-size: 1em">add</button>
<button (click)="clearRockBands()" style="color: blue; border: none; cursor: pointer; font-size: 1em">clear</button>
<ul>
  <li *ngIf="rockbands.length == 0">No hay bandas de rock</li>
  <li *ngFor="let rock of rockbands; index as i">
    {{rock}} {{i}}
    <button (click)="deleteItem(i)">delete</button>
    <button (click)="updateItem(i)">update</button>
  </li>
</ul>

<div *ngIf="rockbandName === 'nicolas'">
  es nicolas
</div>

<div *ngIf="rockbandName === 'julian'">
  es julian
</div>

<div [ngSwitch]="rockbandName">
  <p *ngSwitchCase="'nicolas'">es nicolas SWITCH</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<div>
  <ul>
    <li *ngFor="let user of users">
      <div>Nombre: {{user.name}}</div>
      <div>Edad: {{user.age}}</div>
      <div>Soltero: {{user.isSingle ? 'Si' : 'No'}}</div>
      <div>
        image: {{user.avatar}}
        <img
          [src]="user.avatar"
          alt=""
          style="width: 20%;">
      </div>
    </li>
  </ul>
</div>

<app-product-list></app-product-list>
